body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  th:hover {
    background-color: #45a049;
  }
  
  button {
    background-color: #ff5555;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  h1
  {
    text-align: center;
  }

  label,
  input {
    text-align: center;
}


  .button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  #addButton
  {
    background-color: #45a049;
  }
  #refreshButton
  {
    background-color: rgb(114, 114, 43);
  }
  #addButton2
  {
    margin-top: 20px;
    background-color: #45a049;
  }